.testbg {
    background-color: chartreuse;
}

.HomeContent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 40px 0px 0px;

    height: 100%;

    position: static;
}