.TaskWidget {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    
    position: static;
    width: 186px;
    height: 186px;
    left: 17px;
    top: 17px;
        
    flex: none;
    order: 0;
    flex-grow: 1;
    margin: 0px 15px;
    
    background-color: green;
}

.TaskHeader {
    background-color: red;
}

.TaskControls {
    background-color: blue;
}

.TaskStatus {
    background-color: purple;
}

/* align-items-center */